/*
 * -------------------------------------------------
 * Nextflow base config file
 * -------------------------------------------------
 */

process {

  cpus = { check_max( 2, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [1,2,126,127,128,130] ? 'finish' : 'retry' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements
  withLabel: no_cache {
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
    cache = false
  }
}